
<h3>{{fi}}{{found.length}}</h3>
<ul>
 
 <li ng-repeat="category in menu.categories">
 {{ category.name }},   {{ category.short_name }},  {{ category.description}}
  <button ng-click="menu.onRemove({index: $index});">Don't want this one!</button>

 </li>
 
</ul>
{{menu.test()}}
<div class="error" ng-if="menu.notFound()">Nothing found!</div>

<!--<li>
 {{ category.name }},   {{ category.short_name }},  {{ category.description}}
  <button ng-click="menu.removeItem({index: $index});">Don't want this one!s</button>
</li>
-->
